<div class="d-flex bg-black", id='description'>
    <!-- Div con tamaño relativo -->
    <div class="w-100 h-50 bg-secondary rounded p-4 h1 d-flex flex-column justify-content-start align-items-start">
      <p class="mb-3 p-5 w-50">
        <strong>Diseñamos soluciones de software a medida que comprenden tus necesidades específicas.</strong>
        Nos enfocamos en desarrollar tecnología personalizada, alineada con los objetivos únicos de tu empresa, asegurando máxima eficiencia y optimización de costos.
      </p>
      <p class="mb-3 p-5 w-50">Cuando las soluciones estándar no son suficientes, creamos lo extraordinario para ti.</p>
      <div class='ms-5 w-50'>
        <button class="btn btn-danger btn-lg  px-5 py-3 w-50 h-auto fs-1">Empieza ahora</button>
      </div>
    </div>
  </div>
</div>