<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">ByteTailors</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-2">
          <a class="nav-link btn btn-outline-dark" href="#features">¿Por qué elegirnos?</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link btn btn-outline-dark" href="#services">Servicios</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link btn btn-outline-dark" href="#process">Proceso</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link btn btn-outline-dark" href="#clients">Casos de Éxito</a>
        </li>
      </ul>
    </div>
  </div>
</nav>